# Dependencies
node_modules/

# Build artifacts
dist/
dist-ssr/
*.local

# Tests
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor/OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
.kiro/
.gemini/
public/mediapipe/
